.chainContainer {
  width: 100%;
  border-radius: 10px;
  padding: 30px;
}

.addButton {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.chipNet {
  margin-top: 5px;
  margin-bottom: 5px;
}

.chainInfoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  /* margin-left: 22px; */
  margin-bottom: 20px;
}

.chainDescContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 15px;
}

.chainSitesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 10px;
}

/* .dataPoint {
  flex: 1;
} */
.titleSection {
  text-align: center;
  margin-bottom: 10px;
}

.dataPointHeader {
  padding-bottom: 7px;
}

.avatar {
  margin-right: 24px;
}

.chainNameContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px !important;
}

.badge {
  z-index: 0;
}
